.button--dark {
    background: #2F2926;
    border-radius: 50px;
    min-width: 248px;
    min-height: 55px;
    border-radius: 50px;
    font-size: 24px;
    line-height: 28.8px;
    text-align: center;
    font-weight: 700;
    color: #FFFFFF;
    border: none;
}

.button--light {
    background: #FFFFFF;
    border-radius: 50px;
    min-width: 184px;
    min-height: 55px;
    border-radius: 50px;
    font-size: 24px;
    line-height: 28.8px;
    text-align: center;
    font-weight: 700;
    color: #2F2926;
    border: none;
}