.menu {
  height: 839px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f3e4e1;
  position: relative;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  position: absolute;
  width: 100%;
}

.nav__cart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: #000;
  border-radius: 50%;
  position: relative;
}

.nav__cart-products {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: rgba(229, 103, 78, 1);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  transform: translate(100%, -10%);
}

.nav__cart-products span {
  font-size: 14px;
}

main {
  display: flex;
  flex-direction: column;
  width: 311px;
  margin: 0 auto;
  margin-bottom: auto;
}

.menu__section {
  display: flex;
  justify-content: center;
}

.product__section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
