body {
    overflow: hidden ;
}

.profile__h1 {
    font-weight: 700;
    line-height: 120%;
    color: #FFFFFF;
    font-size: 22px;
}


.Profile__history {
    background-color: #2F2926;
    position: relative;
    padding: 25px;
}

.profile__header {
    display: flex;
    flex-direction: column;
}

.profile__header h1 {
    margin-top: 15px;
    text-align: center;
    font-size: 24px;
}

.profile__content {
    max-height: 160px;
    overflow-y: scroll;

}

.profile__content > article {
    border-bottom: 2px solid rgba(255, 255, 255, 0.08);
}

.profile__content article:last-child {
    border: none;
}

.profile__order {
    font-weight: 700;
    font-size: 14px;
    line-height: 120%;
    color: rgba(255, 255, 255, 0.7);
}

.profile__date {
    font-size: 14px;
    line-height: 120%;
    color: rgba(255, 255, 255, 0.7);
}

.profile__order-sum {
    font-size: 12px;
    line-height: 120%;
    color: rgba(255, 255, 255, 0.5);
}

.profile__order-total {
    font-size: 12px;
    line-height: 120%;
    color: rgba(255, 255, 255, 0.5);
}

.profile__total {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    border-top: 2px solid rgba(255, 255, 255, 0.6);
    padding-top: 10px;
    padding-right: 15px;
}

.profile__total-sum {
    font-weight: 700;
    font-size: 14px;
    line-height: 120%;
    color: rgba(255, 255, 255, 0.8);
}

::-webkit-scrollbar-thumb {
    background-color: #FFFFFF;
    border-radius: 10px;
}
::-webkit-scrollbar {
    width: 4px;
}