.cartItem__price {
    display: block;
    font-size: 12px;
    line-height: 130%;
    margin-top: -.5rem;
    position: relative;
}

.cartItem__promotionPrice {
    color: red; 
    display: none;
}

.cartItem__promotion {
    background: lightgreen;
    padding: .1rem .5rem;
    border: 1px solid black;
    border-radius: 1rem;
    margin-top: -.5rem;
    font-size: 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}