@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #FFF;
    max-width: 375px;
    min-height: 100vh;
    margin: 2rem auto;
}

h1, h2, h3, h4, h5, h6, button {
    font-family: 'PT Serif', serif;
}

p, span {
    font-family: 'Work Sans', sans-serif;
}

a {
    text-decoration: none;
}