.cartItem {
    width: 100%;
}

.cartItem__main {
    display: flex;
    align-items: baseline;
}

.cartItem__title {
    margin-right: .5rem;
    font-size: 20px;
    line-height: 120%;
}

.cartItem__separator {
    flex: 1;
    border: 1px dashed rgba(0, 0, 0, 0.4);
}

.cartItem__quantity {
    margin-left: 1rem;
    font-weight: 600;
    font-size: 14px;
    line-height: 130%;
}

.cartItem__price {
    display: block;
    margin-top: -25px;
    font-size: 12px;
    line-height: 130%;
}