.cartItem {
    width: 100%;
    margin-bottom: 1.5rem;
}

.cartItem__main {
    display: flex;
    align-items: baseline;
}

.cartItem__title {
    margin-right: .5rem;
    font-size: 20px;
    line-height: 120%;
}

.cartItem__separator {
    flex: 1;
    border: 1px dashed rgba(0, 0, 0, 0.4);
    min-width: 20px;
}

.cartItem__quantity {
    margin-left: 1rem;
    font-weight: 600;
    font-size: 14px;
    line-height: 130%;
}

.cartItem__price {
    display: block;
    font-size: 12px;
    line-height: 130%;
    margin-top: -.5rem;
    position: relative;
}

.cartItem__removeButton {
    margin-top: auto;
    margin-left: 1rem;
    cursor: pointer;
}

.cartItem__priceContainer {
    display: flex;
    gap: 1rem;
    margin-top: .5rem;
}

.cartItem__promotionPrice {
    color: red; 
    display: none;
}

.cartItem__promotion {
    background: lightgreen;
    padding: .1rem .5rem;
    border: 1px solid black;
    border-radius: 1rem;
    margin-top: -.5rem;
    font-size: 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}